body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

        #map {
            height: 100vh;
            width: 100%;
        }
        .legend {
            background: white;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            position: absolute;
            bottom: 30px;
            left: 10px;
            z-index: 1000;
            font-size: 14px;
        }
        
        .legend-item {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
        .legend-color {
            width: 20px;
            height: 20px;
            margin-right: 10px
            
        }
